<ion-item>
    <h4>
        Enviro Detail
    </h4>
</ion-item>

<ion-item>
    <ion-label><strong><u>Location Information</u></strong></ion-label>
  </ion-item>
  
  <!-- <ion-item>
    <div class="">
      <div id="map"></div>
    </div>
  </ion-item>
  
  <ion-item>
    <ion-label>Enter Location Address</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="full" (click)="onSearch()">Search</ion-button>
  </ion-item> -->

<!-- Offence Location Text -->
<ion-item>
    <ion-label>
        Offence Location
    </ion-label>
</ion-item>
<ion-content  [ngClass]="{ 'hiddenLeaf': showLeaf, 'showLeaf': !showLeaf }">
    <div id="map-container">
        <div id="map"></div>
      </div>
  </ion-content>
<ion-item> 
    <ion-input type="text" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.offence_location"></ion-input>
</ion-item>

<ion-item>
    <ion-button (click)="toggleMap()" class="location-search" expand="block">Search Location</ion-button>
</ion-item>

<!-- Offender Reply Select -->
<ion-item>
    <ion-label>
        Type of Land *
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.land_type_id">
        <ion-select-option [value]="1">
            Public
        </ion-select-option>
        <ion-select-option [value]="2">
            Private
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Town/Ward Select -->
<ion-item>
    <ion-label>
        Town/Ward
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.town_area">
        <ion-select-option>
            AreaX
        </ion-select-option>
    </ion-select>
</ion-item>

  <!-- Poi Prefix Select -->
  <ion-item>
    <ion-label>
        POI Prefix
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.poi_prefix_id">
        <ion-select-option *ngFor="let group of poi_prefix" [value]="group.id">
            {{ group.textOnMachine }}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- POI Text -->
<ion-item>
    <ion-label>
        POI
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.poi"></ion-input>
</ion-item>

 <!-- Visibility Select -->
 <ion-item>
    <ion-label>
        Visibility *
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.visibility_id">
        <ion-select-option *ngFor="let group of visibility" [value]="group.id">
            {{ group.visibility }}
        </ion-select-option>
    </ion-select>
</ion-item>

 <!-- Weather Select -->
 <ion-item>
    <ion-label>
        Weather *
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.weather_id">
        <ion-select-option *ngFor="let group of weather" [value]="group.id">
            {{ group.textOnMachine }}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Offence Date & Time Text -->
<ion-item>
    <ion-label>
        Offence Date & Time *
    </ion-label>
</ion-item>
<ion-item>
    <ion-datetime 
        [max]="issueDateTimeISO" 
        presentation="date-time" 
        class="bg-light" 
        [preferWheel]="true" 
        (ionChange)="saveEnviroData()" 
        [(ngModel)]="enviro_post.offence_datetime">
    </ion-datetime>
</ion-item>

<!-- Issue Date & Time Text -->
<ion-item>
    <ion-label>
        Issue Date & Time *
    </ion-label>
</ion-item>
<ion-item>
    <ion-datetime 
        [min]="offenceDateTimeISO" 
        presentation="date-time" 
        class="bg-light" 
        [preferWheel]="true" 
        (ionChange)="saveEnviroData()" 
        [(ngModel)]="enviro_post.issue_datetime">
    </ion-datetime>
</ion-item>


<!-- FPN issued on the spot -->
<ion-item>
    <ion-label>FPN issued on the spot</ion-label>  
  </ion-item>
  <ion-item>
      <ion-select interface="action-sheet" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.enviro_issued_onspot">
          <ion-select-option >Yes</ion-select-option>
          <ion-select-option>No</ion-select-option>
      </ion-select>
  </ion-item>


<!-- Is witness available -->
<ion-item>
    <ion-label>Is witness available?</ion-label>  
  </ion-item>
  <ion-item>
      <ion-select interface="action-sheet" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.is_witness_available">
          <ion-select-option>Yes</ion-select-option>
          <ion-select-option>No</ion-select-option>
      </ion-select>
  </ion-item>


<!-- Witness Detail 1 Text -->
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-label>
        Witness Name
    </ion-label>
    <ion-label>
        Witness Phone
    </ion-label>
</ion-item>
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-input type="text"  (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.witness_name"></ion-input>
    <ion-input type="text" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.witness_phone"></ion-input>
</ion-item>

<!-- Witness Detail 2 Text -->
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-label>
        Witness Address
    </ion-label>
</ion-item>
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-input type="text" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.witness_address"></ion-input>
</ion-item>

<!-- Witness Statement Select -->
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-label>
        Witness Statement
    </ion-label>
</ion-item>
<ion-item *ngIf="enviro_post.is_witness_available === 'Yes'">
    <ion-textarea  (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.witness_statement"></ion-textarea>
</ion-item>

<!-- Officer Statement Select -->
<ion-item>
    <ion-label>
        Officer Statement
    </ion-label>
</ion-item>
<ion-item>
    <ion-textarea  (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.officer_statement"></ion-textarea>
</ion-item>

<ion-item>
</ion-item>
<ion-item>
</ion-item>
<ion-item>
</ion-item>