<ion-item>
    <ion-label><strong><u>Personal Information</u></strong></ion-label>
</ion-item>

<!-- Title Text -->
<ion-item>
    <ion-label>
        Title
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Job Title Text -->
<ion-item>
    <ion-label>
        Job Title
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- First Name Text -->
<ion-item>
    <ion-label>
        First Name
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Last Name Text -->
<ion-item>
    <ion-label>
        Last Name
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Address Text -->
<ion-item>
    <ion-label>
        Address
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Home Telephone Text -->
<ion-item>
    <ion-label>
        Home Telephone
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="tel"></ion-input>
</ion-item>

<!-- Work Telephone Text -->
<ion-item>
    <ion-label>
        Work Telephone
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="tel"></ion-input>
</ion-item>

<!-- Email Text -->
<ion-item>
    <ion-label>
        Email
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="email"></ion-input>
</ion-item>

<!-- Ion Divider-->






<ion-item>
    <ion-label><strong><u>Business Information</u></strong></ion-label>
</ion-item>

<!-- Business Name Text -->
<ion-item>
    <ion-label>
        Business Name
    </ion-label>
</ion-item>
<ion-item>
        <ion-input type="text"></ion-input>
</ion-item>

<!-- Business Address Text -->
<ion-item>
    <ion-label>
        Business Address
    </ion-label>
</ion-item>
<ion-item>
        <ion-input type="text"></ion-input>
</ion-item>

<!-- Business Town & Country Text -->
<ion-item>
    <ion-label>
        Business Town
    </ion-label>
    <ion-label>
        Business Country
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Business Postcode Text -->
<ion-item>
    <ion-label>
        Business Postcode
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Address 2 Text -->
<ion-item>
    <ion-label>
        Address 2
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Town Text -->
<ion-item>
    <ion-label>
        Town
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Complaint Country Text -->
<ion-item>
    <ion-label>
        Complaint Country
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Complaint Postal Code Text -->
<ion-item>
    <ion-label>
        Complaint Postal Code
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Gender Text -->
<ion-item>
    <ion-label>
        Gender
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>

<!-- Date of Birth Text-->
<ion-item>
    <ion-label>
        Date of Birth
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="date"></ion-input>
</ion-item>

<!-- Ethnicity -->
<ion-item>
    <ion-label>
        Ethnicity
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="text"></ion-input>
</ion-item>


