<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button (click)="route('/enviro')">
                    <ion-icon aria-hidden="true" name="leaf"></ion-icon>
                </ion-button>
                <!-- <ion-button (click)="refresh()">
                    <ion-icon name="refresh"></ion-icon>
                </ion-button> -->
            </ion-col>
            <ion-col>
                <ion-button (click)="route('/dashboard')">
                    <ion-icon name="home"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">FPN Queue</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item (click)="clearFPNFolder()">
        <ion-icon 
            color="primary" 
            name="construct-outline"
            size="large" 
            >
        </ion-icon>
        <ion-label>Troubleshoot Offline Printing</ion-label>
    </ion-item>

    <ion-list [inset]="true">

        <div *ngFor="let enviro_post of enviro_que_addition">

            <ion-item [button]="true">
                <ion-icon color="success" slot="start" name="refresh-circle" size="large" (click)="submitFPN(enviro_post)"></ion-icon>

                <!-- <ion-icon color="success" slot="start" name="refresh-circle" size="large" (click)="submitFPN(enviro_post)"></ion-icon> -->
                <ion-label>Offender Name: {{ enviro_post.first_name }} {{ enviro_post.last_name }}</ion-label>
                <!-- <ion-label>Witness Name: {{ enviro_post.witness_name }}</ion-label> -->
                <ion-icon color="danger" slot="start" name="create" size="large" (click)="editFPN(enviro_post)"></ion-icon>
                
    
                <!-- <div id="domEl" ref={domEl} dangerouslySetInnerHTML={{ __html: data }} /> -->
    
                <ion-note slot="end">
                   
                </ion-note>
            </ion-item>


            <!-- The code below is intended to support Generate Ticket -->
            <div> 
                <ion-item>
                    <ion-button *ngIf="!enviro_post.html_bool" color="sucess" (click)="generateTicket(enviro_post)">
                        Generate Ticket
                    </ion-button>
                    <ion-button *ngIf="enviro_post.html_bool" color="danger" (click)="enviro_post.html_bool = false">
                        x
                    </ion-button>
                    <ion-button *ngIf="enviro_post.html_bool" color="black" (click)="exportEnviroQue(enviro_post)">
                        Print 
                    </ion-button>
                </ion-item>

                <ion-item>
                    <div>
                        <!-- Can you put the code below, the div, inside a container that reduces its total width by 40%  -->
                    </div>
                    <div>
                        <div *ngIf="enviro_post.html_bool" id="html_ticket" [innerHTML]="enviro_post.html_string"></div>
                    </div>
                </ion-item>
                
             </div>

            <br/>

        </div>
        
    </ion-list>

</ion-content>