
<ion-header [translucent]="true">
    <ion-router-outlet></ion-router-outlet>
    <app-nav-bar [currentStep]="currentStep"></app-nav-bar>
</ion-header>




<ion-content [fullscreen]="true" color="light">
    
    <ion-list [inset]="true">

        <div *ngFor="let enviro_post of enviro_que_addition">

            <ion-item [button]="true">

                <ion-label>Offender Name: {{ enviro_post.first_name }} {{ enviro_post.last_name }}</ion-label>
                <ion-icon color="danger" slot="start" name="create" size="large" (click)="editFPN(enviro_post)"></ion-icon>
    
                <ion-note slot="end">
                   
                </ion-note>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button color="success" (click)="submitFPN(enviro_post, true)">
                        Submit & Print
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" (click)="submitFPN(enviro_post, false)">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>


            <div> 
                <ion-item>
                    <ion-button *ngIf="!enviro_post.html_bool" color="success" (click)="generateTicket(enviro_post)">
                        Generate Ticket
                    </ion-button>
                    <ion-button color="dark" (click)="printOfflineTicket(enviro_post)">
                        Print
                    </ion-button>
                    <ion-button *ngIf="enviro_post.html_bool" color="danger" (click)="enviro_post.html_bool = false">
                        x
                    </ion-button>

                </ion-item>

                <ion-item>
                    <div>
                    </div>
                    <div>
                        <div *ngIf="enviro_post.html_bool" id="html_ticket" [innerHTML]="enviro_post.html_string"></div>
                    </div>
                </ion-item>
                
            </div>

            <br/>

        </div>
        
    </ion-list>

</ion-content>
