<div class="ep-page">
  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Incident</p>
      <h2>Offence detail</h2>
    </div>

    <ion-select interface="action-sheet" label="Location *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.location_id">
      <ion-select-option *ngFor="let group of offence_location_suffix" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Action *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.action_id">
      <ion-select-option *ngFor="let group of offence_how" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Language *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.language">
      <ion-select-option>English</ion-select-option>
      <ion-select-option>Welsh</ion-select-option>
    </ion-select>

    <ion-textarea label="Offender reply" label-placement="stacked" fill="outline" maxlength="190" [counter]="true" auto-grow="true" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.offender_reply"></ion-textarea>
    <ion-textarea label="Description" label-placement="stacked" fill="outline" maxlength="190" [counter]="true" auto-grow="true" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.description"></ion-textarea>
  </section>
</div>
