<!-- Site Select -->
<ion-item>
    <ion-label>Site</ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" disabled="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.site_id" [disabled]="true">
        <ion-select-option *ngFor="let site of sites" [value]="site.id"> 
            {{ site.name }}     
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Zone Select -->
<ion-item>
    <ion-label>Zones</ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.zone_id">
        <ion-select-option *ngFor="let zone of zones" [value]="zone.id"> 
            {{ zone.name }}     
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Offence Group Select -->
<ion-item>
    <ion-label>
        Offence Group
    </ion-label>
</ion-item>
<ion-item>
    <ion-select (ionChange)="filterOffences()" multiple="false" [(ngModel)]="enviro_post.offence_type_id">
        <ion-select-option *ngFor="let group of offenceGroups" [value]="group.id">
            {{ group.englishName }}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Offence Select -->
<ion-item *ngIf="filteredOffences.length > 0">
    <ion-label>Offence</ion-label>
</ion-item>
<ion-item *ngIf="filteredOffences.length > 0">
    <ion-select (ionChange)="saveEnviroData()" multiple="false">
        <ion-select-option *ngFor="let offence of filteredOffences" [value]="offence.id" [(ngModel)]="enviro_post.offence_id">
            {{ offence.name }}
        </ion-select-option>
    </ion-select>
</ion-item>