<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">photo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button (click)="route('/enviro')">
                    <ion-icon aria-hidden="true" name="leaf"></ion-icon>
                </ion-button>
                <ion-button (click)="route('/dashboard')">
                    <ion-icon name="home"></ion-icon>
                </ion-button>
                
                
            </ion-col>
            <!-- <ion-col>
                <ion-title>
                    FPN
                </ion-title>
            </ion-col> -->
            <ion-col>
                <ion-button>
                    <ion-icon name="camera"></ion-icon>
                    <ion-badge color="white">
                        {{enviro_post.offence_images.length !== null ? enviro_post.offence_images.length : 0}}
                    </ion-badge>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">


    <ion-item>
        <div style="width: 100%" *ngIf="!error">
            <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video"  [height]="HEIGHT"
                autoplay></video>
        </div>
    </ion-item> 

    <ion-item>
        <div class="row" style="display: block; margin-left: auto; margin-right: auto">
            <button class="btn btn-dark w-100" (click)="capture()">
                <ion-icon name="camera"></ion-icon>
            </button>
            
            
        </div>
    </ion-item>

 

    

    <ion-item>
        <div class="snap-container">
            
            <div *ngIf="error" class="text-danger mt-4">
                {{ error }}.
                    <div class="mt-5">
                    </div>
                </div>
            </div>
    
    </ion-item>

    <ion-item>
        <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let src of enviro_post.offence_images; let idx = index">
                <!-- <img [src]="photo.data" /> -->
                <img [src]="src" (click)="setPhoto(idx)" />
                <button class="btn btn-danger rounded-circle" (click)="removePhoto(idx)">
                    <ion-icon name="trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-item>

    <ion-item>
        <ion-badge>
            Photo Count: {{ enviro_post.offence_images.length }}
        </ion-badge>
    </ion-item>

    <ion-item>
        <ion-label>Preview:</ion-label>
        <br/>
        <button class="btn btn-warning" *ngIf="isCaptured" (click)="removeCurrent()">
            x
        </button>
        <div style="width: 100%" *ngIf="!error">
            <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" 
                [height]="HEIGHT"></canvas>
        </div>
    </ion-item> 

</ion-content>