
<ion-item>
    <ion-label><strong><u>Basic Information</u></strong></ion-label>
</ion-item>

<!-- Request Type -->
<ion-item>
    <ion-label>Request Type</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="service_request.request_type_id" (ionChange)="getDynamicFeild(true,true)">
        <ion-select-option *ngFor="let request_type of request_types" [value]="request_type.id">{{ request_type.type_name }}</ion-select-option>
    </ion-select>
</ion-item>

<!-- Business Waste -->
<ion-item>
  <ion-label>Business Waste</ion-label>  
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="service_request.business_waste_status" (ionChange)="storeServiceRequest()">
        <ion-select-option>No</ion-select-option>
        <ion-select-option >Yes</ion-select-option>
    </ion-select>
</ion-item>

<!-- Complaint Options -->
<ion-item>
  <ion-label>Complaint Options</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="service_request.complaint_option_status" (ionChange)="storeServiceRequest()">
        <ion-select-option>Remain Anonymous</ion-select-option>
        <ion-select-option>Provide Details</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>
  <ion-label><strong><u>Service Request Information</u></strong></ion-label>
</ion-item>

<!-- Reported Via Options -->
<ion-item>
  <ion-label>Select Reported Via</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="service_request.sr_via_id" (ionChange)="storeServiceRequest()">
        <ion-select-option *ngFor="let sr_via of sr_via" [value]="sr_via.id">{{ sr_via.reported_via }}</ion-select-option>
    </ion-select>  
</ion-item>

<!-- Officer options -->
<ion-item>
    <ion-label>Select Officer</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="service_request.officer_id" (ionChange)="storeServiceRequest()">
        <ion-select-option *ngFor="let officer of officers" [value]="officer.id">{{ officer.name }}</ion-select-option>
    </ion-select>
</ion-item>


<!-- I want to assigned [(ngModel)] to the input and select below. But I want the variable we assign each input to be og a object called dynamic_form_data, exists as dynamic_form_data: any[] in the type script. After use data.id as the key and obiously the users input as the value of that key -->
<div *ngFor="let dynamic_feild of dynamic_feilds_filtered">
    <ion-item>
        <ion-label>{{ dynamic_feild.label }}</ion-label>
    </ion-item>

    <ion-item *ngIf="dynamic_feild.type == 'dropdown' " >
        <ion-select interface="action-sheet" [(ngModel)]="service_request.dynamic_form_data[dynamic_feild.id]" (ionChange)="storeServiceRequest()" *ngIf="dynamic_feild.values.length > 0" >
            <ion-select-option *ngFor="let value of dynamic_feild.values" [value]="value.id">{{ value.value }}</ion-select-option>
        </ion-select>
        <ion-select interface="action-sheet" [(ngModel)]="service_request.dynamic_form_data[dynamic_feild.id]" (ionChange)="storeServiceRequest()" *ngIf="dynamic_feild.values.length == 0 ">
            <ion-select-option *ngFor="let data of dynamic_feild.data" [value]="data.id">{{ data.type_name }}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf=" dynamic_feild.type == 'textarea' ">
        <ion-input type="text" [(ngModel)]="service_request.dynamic_form_data[dynamic_feild.id]" (ionChange)="storeServiceRequest()"></ion-input>
    </ion-item>
</div>






