<ion-item>
    <ion-label><strong><u>Basic Information</u></strong></ion-label>
</ion-item>

<!-- Request Type -->
<ion-item>
    <ion-label>Request Type</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="selected_request_type">
        <ion-select-option *ngFor="let request_type of request_types" [value]="request_type.id">{{ request_type.type_name }}</ion-select-option>
    </ion-select>
</ion-item>

<!-- Business Waste -->
<ion-item>
  <ion-label>Business Waste</ion-label>  
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false">
        <ion-select-option>No</ion-select-option>
        <ion-select-option >Yes</ion-select-option>
    </ion-select>
</ion-item>

<!-- Complaint Options -->
<ion-item>
  <ion-label>Complaint Options</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="selected_complaint_option">
        <ion-select-option>Remain Anonymous</ion-select-option>
        <ion-select-option>Provide Details</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>
  <ion-label><strong><u>Service Request Information</u></strong></ion-label>
</ion-item>

<!-- Reported Via Options -->
<ion-item>
  <ion-label>Select Reported Via</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="selected_request_type">
        <ion-select-option *ngFor="let sr_via of sr_via" [value]="sr_via.id">{{ sr_via.reported_via }}</ion-select-option>
    </ion-select>  
</ion-item>

<!-- Officer options -->
<ion-item>
    <ion-label>Select Officer</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="selected_officer">
        <ion-select-option *ngFor="let officer of officers" [value]="officer.id">{{ officer.name }}</ion-select-option>
    </ion-select>
</ion-item>

<!-- Type of Land option -->
<ion-item>
    <ion-label>Type of Land (Customer Perception)</ion-label>
</ion-item>
<ion-item>
    <ion-select interface="action-sheet" multiple="false" [(ngModel)]="selected_offence_type">
    </ion-select>    
</ion-item>

<!-- Type of waste text -->
<ion-item>
    <ion-label>Type of Waste</ion-label>
</ion-item>
<ion-item>
    <ion-input interface="action-sheet"/>
</ion-item>

<!-- hazard confirmation option -->
<ion-item>
  <ion-label>Do you consider the waste to be a hazardous</ion-label>
</ion-item>
<ion-item>
  <ion-select interface="action-sheet" multiple="false">
  </ion-select>    
</ion-item>

<!-- Type of further information text -->
<ion-item>
  <ion-label>Further Information (provided by complaint)</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"/>
</ion-item>

<ion-item>
  <ion-label><strong><u>Witness Information</u></strong></ion-label>
</ion-item>

<!-- witness details text -->
<ion-item>
  <ion-label>Witness Details</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"/>
</ion-item>

<!-- further witness text -->
<ion-item>
  <ion-label>What did the complaint witness</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 1 Full Name -->
<ion-item>
  <ion-label>Witness 1 - Full Name</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 1 Full Address -->
<ion-item>
  <ion-label>Witness 1 - Full Address</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 1 Telephone Number -->
<ion-item>
  <ion-label>Witness 1 - Telephone Number</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 2 Full Name -->
<ion-item>
  <ion-label>Witness 2 - Full Name</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 2 Full Address -->
<ion-item>
  <ion-label>Witness 2 - Full Address</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Witness 2 Telephone Number -->
<ion-item>
  <ion-label>Witness 2 - Telephone Number</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<ion-item>
  <ion-label><strong><u>Vehicle Information</u></strong></ion-label>
</ion-item>

<!--Suspected Information -->
<ion-item>
  <ion-label>Suspected Vehicle</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Vehicle Registration Information -->
<ion-item>
  <ion-label>Vehicle Registration Mark</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Vehicle Make Information -->
<ion-item>
  <ion-label>Vehicle Make</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Vehicle Model Information -->
<ion-item>
  <ion-label>Vehicle Model</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Detail of incident Information -->
<ion-item>
  <ion-label>Details of the incident</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>

<!-- Incident Description -->
<ion-item>
  <ion-label>Incident Description</ion-label>
</ion-item>
<ion-item>
  <ion-input interface="action-sheet"></ion-input>
</ion-item>