<ion-header [translucent]="true">
    <ion-router-outlet></ion-router-outlet>
    <app-nav-bar
        [photoCount]="enviro_post.offence_images.length"
        [currentStep]="currentStep">
    </app-nav-bar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>

  <div class="ep-steps">
    <div class="ep-steps__meta">
      <span>Step {{ currentStep }} of 8</span>
      <span class="ep-steps__title">{{ stepTitle }}</span>
    </div>
    <div class="ep-steps__track">
      <div class="ep-steps__fill" [style.--progress]="stepProgress + '%'"></div>
    </div>
  </div>

  <ng-container [ngSwitch]="currentStep">
      <app-step1 *ngSwitchCase="1"></app-step1>
      <app-step2 *ngSwitchCase="2"></app-step2>
      <app-step3 *ngSwitchCase="3"></app-step3>
      <app-step4 *ngSwitchCase="4"></app-step4>
      <app-step5 *ngSwitchCase="5"></app-step5>
      <app-step-evidence *ngSwitchCase="6"></app-step-evidence>
      <app-step6 *ngSwitchCase="7"></app-step6>
      <app-step7 *ngSwitchCase="8"></app-step7>
  </ng-container>
</ion-content>

<ion-footer class="ep-wizard-footer">
  <div class="ep-wizard-bar" [class.ep-wizard-bar--split]="currentStep > 1" *ngIf="currentStep < 7">
    <ion-button expand="block" color="medium" *ngIf="currentStep > 1" (click)="previousStep()">
      Back
    </ion-button>
    <ion-button expand="block" color="primary" class="ep-wizard-bar__next" (click)="nextStep()">
      Continue
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    <p class="ep-wizard-bar__hint" *ngIf="nextStepTitle">Next: {{ nextStepTitle }}</p>
  </div>

  <div class="ep-wizard-bar ep-wizard-bar--grid" *ngIf="currentStep > 6">
    <ion-button expand="block" color="medium" *ngIf="currentStep < 8" (click)="previousStep()">Back</ion-button>
    <ion-button expand="block" color="light" (click)="saveFPN()">Save</ion-button>
    <ion-button expand="block" color="primary" *ngIf="currentStep === 7" (click)="nextStep()">Notebook</ion-button>
    <ion-button expand="block" color="success" (click)="submitForm()">Submit</ion-button>
  </div>
</ion-footer>
