<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fpn" href="/tabs/fpn">
      <ion-icon aria-hidden="true" name="leaf"></ion-icon>
      <ion-label>FPN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="service-request" href="/tabs/service-request">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label> 
    </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>
