<div class="ep-page">
  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Person</p>
      <h2>Offender detail</h2>
    </div>

    <ion-select interface="action-sheet" label="Title *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.salutation">
      <ion-select-option *ngFor="let salutation of salutations">
        {{ salutation.title }}
      </ion-select-option>
    </ion-select>

    <div class="ep-field-row">
      <ion-input label="Forename *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.first_name"></ion-input>
      <ion-input label="Surname *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.last_name"></ion-input>
    </div>

    <ion-textarea label="Address *" label-placement="stacked" fill="outline" auto-grow="true" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.address"></ion-textarea>
    <ion-input label="Town *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.town"></ion-input>

    <div class="ep-field-row">
      <ion-input label="Country *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.county" disabled="true"></ion-input>
      <ion-input label="Postal code *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.post_code" style="text-transform:uppercase"></ion-input>
    </div>
  </section>

  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Identity</p>
      <h3>Date of birth</h3>
    </div>

    <div class="ep-field-row" style="grid-template-columns: 1fr 1fr 1.2fr;">
      <ion-input label="Day" label-placement="stacked" fill="outline" type="number" min="1" max="31" [(ngModel)]="birthDay" (ionChange)="updateDateOfBirth()" placeholder="DD"></ion-input>
      <ion-input label="Month" label-placement="stacked" fill="outline" type="number" min="1" max="12" [(ngModel)]="birthMonth" (ionChange)="updateDateOfBirth()" placeholder="MM"></ion-input>
      <ion-input label="Year" label-placement="stacked" fill="outline" type="number" min="1900" max="2099" [(ngModel)]="birthYear" (ionChange)="updateDateOfBirth()" placeholder="YYYY"></ion-input>
    </div>

    <p class="ep-note" *ngIf="validation_message">{{ validation_message }}</p>
    <ion-button expand="block" class="validate-search" (click)="ValidatePerson();">Validate personal details</ion-button>
  </section>

  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Contact</p>
      <h3>How to reach them</h3>
    </div>

    <div class="ep-field-row">
      <ion-input label="Email address" label-placement="stacked" fill="outline" type="email" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.email"></ion-input>
      <ion-input label="Mobile no." label-placement="stacked" fill="outline" type="text" maxlength="100" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.phone"></ion-input>
    </div>

    <ion-select interface="action-sheet" label="Did you activate BWC *" label-placement="stacked" fill="outline" (ionChange)="saveEnviroData()" multiple="false" [(ngModel)]="enviro_post.is_bwc_active">
      <ion-select-option>Yes</ion-select-option>
      <ion-select-option>No</ion-select-option>
    </ion-select>
  </section>

  <div class="ep-page-end"></div>
</div>
