<!-- Locattion Select -->
<ion-item>
    <ion-label>
        Location
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false">
        <ion-select-option *ngFor="let group of offence_location_suffix" [value]="group.id">
            {{ group.textOnMachine }}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Action Select -->
<ion-item>
    <ion-label>
        Action
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false">
        <ion-select-option *ngFor="let group of offence_how" [value]="group.id">
            {{ group.textOnMachine }}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Caution 1 and 2 Time -->
<ion-item>
    <ion-label>
        Caution 1
    </ion-label>
    <ion-label>
        Caution 2
    </ion-label>
</ion-item>
<ion-item>
    <ion-input type="time" ></ion-input>
    <ion-input type="time" ></ion-input>
</ion-item>

<!-- Offender Reply Select -->
<ion-item>
    <ion-label>
        Offender Reply
    </ion-label>
</ion-item>
<ion-item>
    <ion-select multiple="false">
        <ion-select-option>
            Yes
        </ion-select-option>
        <ion-select-option>
            No
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Description Select -->
<ion-item>
    <ion-label>
        Description
    </ion-label>
</ion-item>
<ion-item>
    <ion-textarea></ion-textarea>
</ion-item>