<div>

</div>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Welcome</ion-title>
        </ion-toolbar>
    </ion-header>
 
	<body class="img js-fullheight" style="background-image: url(assets/bg.png);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<!-- <h2 class="heading-section">Enforcement Pro</h2> -->
                    <div>
                        <img src="assets/ic_app_logo.png" style="height:100px;" />
                    </div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="login-wrap p-0">
                <h5 class="text-center text-white">Welcome Back, Let's Login</h5>
                <!-- src/app/pages/login/login.page.html -->

<form (submit)="onSubmit($event)" class="signin-form">
    <div class="form-group">
      <input #idInput type="number" name="id" class="form-control text-center" placeholder="ID" required>
    </div>
    <div class="form-group">
      <input #pinInput name="pin" id="pin-field" type="number" class="form-control text-center" placeholder="Pin" required>
      <span toggle="#pin-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
    </div>
  </form>
  

		      </div>
				</div>
			</div>
		</div>
	</section>

	</body>


</ion-content>
