<ion-toolbar class="ep-nav">
  <ion-row class="ep-nav__row">
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/dashboard')" (click)="navigate('/dashboard')">
        <ion-icon [name]="isActive('/dashboard') ? 'home' : 'home-outline'"></ion-icon>
        <span class="ep-nav__label">Home</span>
      </ion-tab-button>
    </ion-col>
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/enviro')" (click)="navigate('/enviro')">
        <ion-icon [name]="isActive('/enviro') ? 'leaf' : 'leaf-outline'"></ion-icon>
        <span class="ep-nav__label">FPN</span>
      </ion-tab-button>
    </ion-col>
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/lemo')" (click)="navigate('/lemo')">
        <ion-icon [name]="isActive('/lemo') ? 'sparkles' : 'sparkles-outline'"></ion-icon>
        <span class="ep-nav__label">Lemo</span>
      </ion-tab-button>
    </ion-col>
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/photo')" (click)="navigate('/photo')">
        <ion-icon [name]="isActive('/photo') ? 'camera' : 'camera-outline'"></ion-icon>
        <span class="ep-nav__label">Camera</span>
        <span class="ep-nav__count" *ngIf="photoCount !== null">{{ photoCount }}</span>
      </ion-tab-button>
    </ion-col>
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/queue')" (click)="navigate('/queue')">
        <ion-icon [name]="isActive('/queue') ? 'time' : 'time-outline'"></ion-icon>
        <span class="ep-nav__label">Queue</span>
      </ion-tab-button>
    </ion-col>
    <ion-col class="ep-nav__col">
      <ion-tab-button class="ep-nav__btn" [class.is-active]="isActive('/setting')" (click)="navigate('/setting')">
        <ion-icon [name]="isActive('/setting') ? 'person' : 'person-outline'"></ion-icon>
        <span class="ep-nav__label">Profile</span>
      </ion-tab-button>
    </ion-col>
  </ion-row>
</ion-toolbar>
