<ion-item>
  <ion-label><strong><u>Location Information</u></strong></ion-label>
</ion-item>

<!-- <ion-item>
  <div #mapContainer style="height: 400px; width: 100%;"></div>
</ion-item>
<ion-item>
  <button (click)="createMap()">Refresh Map</button>
</ion-item> -->

<ion-item>
  <div class="">
    <div id="map"></div>
  </div>
</ion-item>

<ion-item>
  <ion-label>Enter Location Address</ion-label>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="address"></ion-input>
</ion-item>
<ion-item>
  <ion-button expand="full" (click)="onSearch()">Search</ion-button>
</ion-item>



<!-- Offence Location Text -->
<ion-item>
    <ion-label>
        Offence Location
    </ion-label>
</ion-item>
<ion-item>
      <ion-input type="text"></ion-input>
</ion-item>

<!-- Offence Town Text -->
<ion-item>
  <ion-label>
      Offence Town
  </ion-label>
</ion-item>
<ion-item>
      <ion-input type="text"></ion-input>
</ion-item>

<!-- Reported Date & Time Text -->
<ion-item>
  <ion-label>
      Reported Date & Time
  </ion-label>
</ion-item>
<ion-item>
  <ion-input type="date"></ion-input>
  <ion-input type="time"></ion-input>
</ion-item>

<!-- Offence Date & Time Text -->
<ion-item>
  <ion-label>
      Offence Date & Time
  </ion-label>
</ion-item>
<ion-item>
  <ion-input type="datetime"></ion-input>
  <ion-input type="time"></ion-input>
</ion-item>