<ion-item>
  <ion-label>
      Photo
  </ion-label>
</ion-item>

<ion-item>
    <div class="video-container" *ngIf="!error" style="display: block; margin-left: auto; margin-right: auto">
        <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
            autoplay></video>
        <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
            [height]="HEIGHT"></canvas>
    </div>
</ion-item>

<ion-item>
    <div class="row" style="display: block; margin-left: auto; margin-right: auto">
        <button class="btn btn-light w-100" *ngIf="!isCaptured" (click)="capture()">
            <ion-icon name="camera"></ion-icon>
        </button>
        <button class="btn btn-warning" *ngIf="isCaptured" (click)="removeCurrent()">
            x
        </button>
        
    </div>
</ion-item>

<ion-item>
    <div class="snap-container">
        
        <div *ngIf="error" class="text-danger mt-4">
            {{ error }}.
            <div class="mt-5">
                <img src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
            </div>
            </div>
        </div>
    
        <ul class="list-unstyled">
            <li *ngFor="let src of enviro_post.offence_images; let idx = index" (click)="setPhoto(idx)">
                <img [src]="src" height="50" />
                
                <button class="btn btn-danger rounded-circle" (click)="removePhoto(idx)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </li>
        </ul>
</ion-item>