<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button href="/fpn/queue">
                    <ion-icon name="time"></ion-icon>
                </ion-button>
                <ion-button (click)="refresh()">
                    <ion-icon name="refresh"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-title>
                    FPN
                </ion-title>
            </ion-col>
            <ion-col>
                <ion-button href="/fpn/photo">
                    <ion-icon name="camera"></ion-icon>
                    <ion-badge color="white">
                        {{enviro_post.offence_images.length !== null ? enviro_post.offence_images.length : 0}}
                    </ion-badge>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">FPN</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="currentStep === 1">
        <app-step1 (next)="nextStep()"></app-step1>
    </div>
     <div *ngIf="currentStep === 2">
        <app-step2 (previous)="previousStep()" (next)="nextStep()"></app-step2>
    </div>
    <div *ngIf="currentStep === 3">
        <app-step3 (previous)="previousStep()" (next)="nextStep()"></app-step3>
    </div> 
    <div *ngIf="currentStep === 4">
        <app-step4 (previous)="previousStep()" (next)="nextStep()"></app-step4>
    </div> 
    <div *ngIf="currentStep === 5">
        <app-step5 (previous)="previousStep()" (next)="nextStep()"></app-step5>
    </div> 
    <div *ngIf="currentStep === 6">
        <app-step6 (previous)="previousStep()" (next)="submitForm()"></app-step6>
    </div> 
    <div *ngIf="currentStep === 7">
        <app-step7 (previous)="previousStep()" (next)="submitForm()"></app-step7>
    </div> 

</ion-content>


<ion-footer :translucent="true">
    <ion-toolbar>
        <ion-row>
            <ion-col size="6" *ngIf="currentStep === 1">
            </ion-col>
            <ion-col size="6" *ngIf="currentStep > 1 && currentStep < 7">
                <ion-button expand="block" shape="full" (click)="previousStep()">Back</ion-button>
            </ion-col>
            <ion-col size="6" *ngIf="currentStep < 6">
                <ion-button expand="block" shape="full" (click)="nextStep()">Continue</ion-button>
            </ion-col>

            <ion-col size="6" *ngIf="currentStep > 5">
                <ion-button expand="block" shape="full" (click)="saveFPN()">Save</ion-button>
            </ion-col>
            <ion-col size="6" *ngIf="currentStep === 6">
                <ion-button color="primary" expand="block" shape="full" (click)="nextStep()">Notebook Entry</ion-button>
            </ion-col>
            <!-- <ion-col size="6" *ngIf="currentStep === 6">
                <ion-button color="success" expand="block" shape="full" (click)="submitForm()">Submit</ion-button>
            </ion-col> -->

            <!-- <ion-col size="6" *ngIf="currentStep === 7">
                <ion-button expand="block" shape="full" (click)="saveFPN()">Save</ion-button>
            </ion-col> -->
            <ion-col size="6" *ngIf="currentStep > 5">
                <ion-button color="success" expand="block" shape="full" (click)="submitForm()">Submit</ion-button>
            </ion-col>

        </ion-row>
    </ion-toolbar>
</ion-footer>
