<ion-header [translucent]="true">
    <ion-router-outlet></ion-router-outlet>
    <ion-toolbar class="ep-nav">
        <ion-row class="ep-nav__row">
            <ion-col class="ep-nav__col">
                <ion-tab-button class="ep-nav__btn" (click)="navigate('/dashboard')">
                    <ion-icon name="home-outline"></ion-icon>
                    <span class="ep-nav__label">Home</span>
                </ion-tab-button>
            </ion-col>
            <ion-col class="ep-nav__col">
                <ion-tab-button class="ep-nav__btn" (click)="forceRefresh()">
                    <ion-icon name="refresh-outline"></ion-icon>
                    <span class="ep-nav__label">Refresh</span>
                </ion-tab-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ep-page">
        <div class="ep-page-head">
            <p class="ep-kicker">Assignment</p>
            <h1>Choose a site</h1>
            <p>Search and lock in the location you are working.</p>
        </div>

        <ion-searchbar
            [(ngModel)]="searchQuery"
            placeholder="Search sites"
            (ionInput)="filterSites()">
        </ion-searchbar>

        <div class="site-load" *ngIf="searchQuery == '' && sites.length<1">
            <img *ngIf="!sitesLoadFailed" src="../assets/loader.gif" alt="">
            <p *ngIf="sitesLoadFailed">Unable to load sites. Tap refresh to try again.</p>
        </div>

        <ng-container *ngIf="searchQuery == ''">
            <article class="ep-site-card" *ngFor="let site of sites">
                <img [src]="getImageUrl(site.logo)" alt="" />
                <h3>{{ site.name }}</h3>
                <ion-button size="small" (click)="setSite(site.id)">Select</ion-button>
            </article>
        </ng-container>

        <ng-container *ngIf="searchQuery != ''">
            <article class="ep-site-card" *ngFor="let site of filteredSites">
                <img [src]="getImageUrl(site.logo)" alt="" />
                <h3>{{ site.name }}</h3>
                <ion-button size="small" (click)="setSite(site.id)">Select</ion-button>
            </article>
            <div class="ep-empty" *ngIf="filteredSites.length === 0">
                <h3>No sites found</h3>
                <p>Try another search.</p>
            </div>
        </ng-container>
    </div>
</ion-content>
