<div class="ep-page">
  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Field notes</p>
      <h2>Notebook entries</h2>
    </div>

    <ion-select interface="action-sheet" label="Is FPN advised *" label-placement="stacked" fill="outline" multiple="false" [(ngModel)]="enviro_post.notebook_entries.is_fpn_advised" (ionChange)="saveEnviroData()">
      <ion-select-option>yes</ion-select-option>
      <ion-select-option>no</ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Is FPN handed *" label-placement="stacked" fill="outline" multiple="false" [(ngModel)]="enviro_post.notebook_entries.is_fpn_handed" (ionChange)="saveEnviroData()">
      <ion-select-option>yes</ion-select-option>
      <ion-select-option>no</ion-select-option>
    </ion-select>

    <div class="ep-field-row">
      <ion-input label="Height in feet" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.height_in_feet" (ionChange)="saveEnviroData()"></ion-input>
      <ion-input label="Height in inch" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.height_in_inch" (ionChange)="saveEnviroData()"></ion-input>
    </div>

    <ion-select interface="action-sheet" label="Build" label-placement="stacked" fill="outline" multiple="false" [(ngModel)]="enviro_post.notebook_entries.build" (ionChange)="saveEnviroData()">
      <ion-select-option *ngFor="let group of builds" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Hair colours *" label-placement="stacked" fill="outline" multiple="false" [(ngModel)]="enviro_post.notebook_entries.hair" (ionChange)="saveEnviroData()">
      <ion-select-option *ngFor="let group of hair_colours" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-input label="Distance from offender" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.distance_from_offender" (ionChange)="saveEnviroData()"></ion-input>
    <ion-input label="Distinguishing features" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.distinguishing_features" (ionChange)="saveEnviroData()"></ion-input>
    <ion-input label="Nearest bin" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.nearest_bin" (ionChange)="saveEnviroData()"></ion-input>
    <ion-input label="Offender comments" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.offender_comments" (ionChange)="saveEnviroData()"></ion-input>
    <ion-input label="Police comments" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.police_comments" (ionChange)="saveEnviroData()"></ion-input>
    <ion-input label="BWC asset" label-placement="stacked" fill="outline" type="text" maxlength="250" [(ngModel)]="enviro_post.notebook_entries.bwv_assest" (ionChange)="saveEnviroData()"></ion-input>
  </section>

  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Extra</p>
      <h3>FPN details</h3>
    </div>

    <ion-select interface="action-sheet" label="Gender *" label-placement="stacked" fill="outline" (ionChange)="saveEnviroData()" multiple="false" [(ngModel)]="enviro_post.notebook_entries.gender">
      <ion-select-option>Male</ion-select-option>
      <ion-select-option>Female</ion-select-option>
      <ion-select-option>Other</ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Ethnicity *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.ethnicity_id">
      <ion-select-option *ngFor="let group of ethnicities" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <div class="ep-field-row">
      <ion-input label="Caution 1" label-placement="stacked" fill="outline" type="time" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.caution"></ion-input>
      <ion-input label="Caution 2" label-placement="stacked" fill="outline" type="time" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.second_caution"></ion-input>
    </div>

    <ion-select interface="action-sheet" label="Visibility *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.visibility_id">
      <ion-select-option *ngFor="let group of visibility" [value]="group.id">
        {{ group.visibility }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Weather *" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.weather_id">
      <ion-select-option *ngFor="let group of weather" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Is witness available?" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.is_witness_available">
      <ion-select-option>Yes</ion-select-option>
      <ion-select-option>No</ion-select-option>
    </ion-select>

    <ng-container *ngIf="enviro_post.notebook_entries.is_witness_available === 'Yes'">
      <div class="ep-field-row">
        <ion-input label="Witness name" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.witness_name"></ion-input>
        <ion-input label="Witness phone" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.witness_phone"></ion-input>
      </div>
      <ion-input label="Witness address" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.witness_address"></ion-input>
      <ion-textarea label="Witness statement" label-placement="stacked" fill="outline" auto-grow="true" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.witness_statement"></ion-textarea>
    </ng-container>

    <ion-textarea label="Officer statement" label-placement="stacked" fill="outline" auto-grow="true" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.notebook_entries.officer_statement"></ion-textarea>
  </section>

  <div class="ep-page-end"></div>
</div>
