<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button (click)="init()">
                    <ion-icon name="refresh"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-title>
                    Home
                </ion-title>
            </ion-col>
            <ion-col>
                <ion-button (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item>
        <h2>
            Hi, {{ user.name }}
        </h2>
    </ion-item>

    <ion-item>
        <p>
            Welcome to the Enforcement Pro Mobile Application. 
        </p>
    </ion-item>

    <ion-item>
        <ion-label>Your Current Site is:</ion-label>
    </ion-item>
    <ion-item>
        <div class="row">
            <div class="col-4">
                <img [src]="getImageUrl(selected_site.logo)" height="40px" />
            </div>
            <div class="col-8">
                <ion-label>{{ selected_site.name }}</ion-label>
            </div>
        </div>
    </ion-item>


    <ion-item>
        <button type="button" (click)="navigate('site')" class="mt-4 btn btn-info">
            <ion-icon name="pencil"></ion-icon> Change
        </button> 
    </ion-item>

    <ion-list>
        <div>
            <ion-item *ngFor="let fpn of recent_fpns">
                <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{ fpn.fpn_number }}</ion-label>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>{{ fpn.offender?.first_name }} {{ fpn.offender?.last_name }}</ion-label>
                    </ion-col>
                    <ion-col size="3">
                        <ion-button (click)="copyUrlFPN(fpn.fpn_number)" color="dark">Copy URL</ion-button>
                    </ion-col>
                </ion-row>
                </ion-grid>
            </ion-item>
        </div>
        
    </ion-list>

</ion-content>



