<div class="ep-page">
  <section class="ep-section">
    <div class="ep-section__head">
      <p class="ep-kicker">Where</p>
      <h2>Enviro detail</h2>
    </div>

    <ion-select interface="action-sheet" label="Send FPN by postal *" label-placement="stacked" fill="outline" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.fpn_issued">
      <ion-select-option [value]="0">Yes</ion-select-option>
      <ion-select-option [value]="1">No</ion-select-option>
    </ion-select>

    <ion-content [ngClass]="{ 'showLeaf': showLeaf, 'hiddenLeaf': !showLeaf }">
      <div id="map-container">
        <div id="map"></div>
      </div>
    </ion-content>

    <ion-input #firstInput label="Offence location *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.offence_location"></ion-input>
    <ion-button expand="block" class="location-search" (click)="toggleMap();">Search location</ion-button>

    <ion-select interface="action-sheet" label="Type of land *" label-placement="stacked" fill="outline" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.land_type_id">
      <ion-select-option [value]="1">Public</ion-select-option>
      <ion-select-option [value]="2">Private</ion-select-option>
    </ion-select>

    <ion-input label="Town / ward" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.town_area"></ion-input>
    <ion-input #firstInput label="POI *" label-placement="stacked" fill="outline" type="text" maxlength="250" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.poi"></ion-input>

    <ion-select interface="action-sheet" label="POI prefix" label-placement="stacked" fill="outline" multiple="false" (ionChange)="saveEnviroData()" [(ngModel)]="enviro_post.poi_prefix_id">
      <ion-select-option *ngFor="let group of poi_prefix" [value]="group.id">
        {{ group.textOnMachine }}
      </ion-select-option>
    </ion-select>

    <ion-select interface="action-sheet" label="Manually override issue and offence timestamp?" label-placement="stacked" fill="outline" [(ngModel)]="enviro_post.manual_time" (ionChange)="saveEnviroData()">
      <ion-select-option [value]="true">Yes</ion-select-option>
      <ion-select-option [value]="false">No</ion-select-option>
    </ion-select>

    <ng-container *ngIf="enviro_post.manual_time">
      <p class="ep-kicker">Offence datetime</p>
      <ion-datetime-button datetime="offenceDatetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="offenceDatetime"
            presentation="date-time"
            [(ngModel)]="enviro_post.offence_datetime"
            (ionChange)="saveEnviroData()"
            [formatOptions]="{
              date: { weekday: 'short', month: 'long', day: '2-digit' },
              time: { hour: '2-digit', minute: '2-digit' }
            }"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <p class="ep-kicker" style="margin-top: 14px;">Issue datetime</p>
      <ion-datetime-button datetime="issueDatetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="issueDatetime"
            presentation="date-time"
            [(ngModel)]="enviro_post.issue_datetime"
            (ionChange)="saveEnviroData()"
            [formatOptions]="{
              date: { weekday: 'short', month: 'long', day: '2-digit' },
              time: { hour: '2-digit', minute: '2-digit' }
            }"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ng-container>
  </section>
</div>
